 
 
 .divtienda{

          background-image: url("../Img/tazas.png");
          background-size: 100% 100%;
          width: 250px;
          height: 210px;
          text-align: center;
          padding: 12px 15px;
          border: solid rgb(241, 68, 169);
          display: flex;
          justify-content: center;
          align-items: center;

 }
  .h2tienda{

           background-color: rgb(247, 85, 179);
           border: solid black;
           padding: 10px;
           
  }

header{ 

       line-height: 0px;
 }

 .h2section{

    padding: 20px;
    text-align: center;
 }

 .sectiontienda{

     display: flex;
     justify-content: center;
     align-items: center;
 }

 p{
    text-align: center;
 }